@use './variables' as *;

.reservation {
 fieldset { 
    border: 2px solid $couleur-secondaire; 
  }
  
  &__champ {
    border: 2px solid $couleur-secondaire;
  }

  &__titre {
  color: $couleur-secondaire;
  }

  &__dispo {
  color: $couleur-accent;
  }

  .border-erreur {
    border-color: $couleur-erreur !important;
  }

  .erreur-message {
    color: $couleur-erreur;
  }
}
