@use 'variables' as *;

.temoignages {
  &__title,
  &__nom,
  &__citation { 
    color: $couleur-fonce; 
  }
  
  &__carte {
     background-color: $couleur-fond-alternatif; 
    border: 2px solid $couleur-secondaire;
  }

  &__avatar 
  { 
    border-radius: 9999px; object-fit: cover; 
  }
}