$blue: #163f82;
$orange: #f97316;
$yellow: #fedc00;

$couleur-primaire: #f97316;
$couleur-secondaire: #163f82;
$couleur-hover: #fcb98b;
$couleur-accent: #09c372;
$couleur-erreur: #ff3860;
$couleur-clair: #eceeef;
$couleur-fonce: #1f2937;
$couleur-fond-alternatif: #f9f9f9;
$transition-standard: 200ms ease;

$primaire-hover:   scale-color($couleur-primaire,   $lightness: 40%);
$secondaire-hover: scale-color($couleur-secondaire, $lightness: 40%);
$bordure-neutre:   mix($couleur-fonce, rgb(31, 30, 30), 85%); 

